# LaTeX build artifacts (Overleaf kompiliert selbst)
*.aux
*.log
*.out
*.toc
*.lof
*.lot
*.fls
*.fdb_latexmk
*.synctex.gz
*.bbl
*.blg
*.run.xml
build*.log
main.pdf
# BibLaTeX / biber
*.bcf
*.bbl-SAVE-ERROR
# glossaries
*.glo
*.gls
*.glg
*.acn
*.acr
*.alg
*.ist
*.xdy
*.slo
*.sls
*.slg
*.lofml
# Testdateien
_bibtest.*
_fulltest.*
